<template>
  <main><Maps :location="location" :markers="markers" /></main>
</template>

<script setup lang="ts">
import Maps from "@/components/Maps.vue";
import type { Map } from "@/models/Map";

const location = { lat: -8.10505, lng: 111.92931 };
const markers: Map[] = [
  {
    position: {
      lat: -8.124424,
      lng: 111.95341,
    },
    description: "Musholla Ar-Rohman",
  },
  {
    position: {
      lat: -8.12025,
      lng: 111.96452,
    },
    description: "PP Al-Falah",
  },
   {
    position: {
      lat: -8.10780,
      lng: 111.92916,
    },
    description: "Musholla Baitul Attiq",
  },
   {
    position: {
      lat: -8.10351,
      lng: 111.93215,
    },
    description: "Masjid Al Ma'sum",
  },
   {
    position: {
      lat: -8.10487,
      lng: 111.93454,
    },
    description: "Musholla Al Muhajiirin",
  },
];
</script>
