<template>
  <section class="bg-white rounded-md grid grid-cols-3">
    <img
      class="col-span-2 h-[calc(100vh_-_71px)] w-full fit-cover"
      src="https://taskdev.mile.app/591c9afae08d42365820ece5754e7bfc.png"
      alt="bg"
    />
    <LoginForm class="col-span-1" />
  </section>
</template>

<script lang="ts" setup>
import LoginForm from "@/components/LoginForm.vue";
</script>
