<template>
  <header class="bg-gray-600 py-5 px-4">
    <nav class="flex justify-between items-center">
      <img
        src="https://taskdev.mile.app/091546cdda82176f8a94f6119d042cc3.png"
        class="w-28"
        alt="logo"
      />
      <ul class="list-none text-white font-semibold">
        <li>Call Us Now +62 812-1133-5608</li>
      </ul>
    </nav>
  </header>
</template>
