<template>
  <div class="flex flex-col space-y-4 bg-white rounded-l-md shadow-lg p-4">
    <h3 class="font-bold text-gray-600 text-3xl mb-5 mt-5">Login</h3>
    <div class="space-y-2">
      <label for="username">Username</label>
      <input
        v-model="userPayload.username"
        id="username"
        class="input"
        type="text"
        placeholder="Input your username"
      />
    </div>
    <div class="space-y-2">
      <label for="password">Password</label>
      <input
        v-model="userPayload.password"
        id="password"
        class="input"
        type="password"
        placeholder="Input your password"
      />
    </div>
    <div class="pt-2">
      <button
        class="bg-blue-500 rounded-md w-full p-4 text-white font-semibold text-md"
        @click="submit"
      >
        Login
      </button>
      <p class="text-md mt-2 text-center">
        Not registered yet? <a class="text-blue-500">Contact us</a> for more
        info
      </p>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, unref } from "vue";
import type { User } from "@/models/User";
import useAuthService from "@/composables/useAuthService";

const { checkUser } = useAuthService();

const userPayload = ref<User>({ username: "", password: "" });

const submit = async () => {
  await checkUser(unref(userPayload));
};
</script>

<style scoped>
.input {
  @apply bg-white p-3 border border-gray-200 rounded-md w-full;
}
label {
  @appy font-semibold;
}
</style>
