<template>
  <GMapMap
    :center="center"
    :zoom="14"
    map-type-id="terrain"
    class="w-full h-[calc(100vh_-_71px)]"
  >
    <GMapCluster>
      <GMapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        @click="openMarker(index)"
      >
        <GMapInfoWindow
          :closeclick="true"
          @closeclick="openMarker(null)"
          :opened="markerIndex === index"
        >
          <div>Marker description : {{ m.description }}</div>
        </GMapInfoWindow>
      </GMapMarker>
    </GMapCluster>
  </GMapMap>
</template>

<script lang="ts" setup>
import { ref, watch } from "vue";
import type { Map } from "@/models/Map";

const props = withDefaults(
  defineProps<{
    markers: Map[];
    clickable?: boolean;
    draggable?: boolean;
    location: Map["position"];
  }>(),
  {
    clickable: true,
    draggable: true,
  }
);

const center = ref<Map["position"]>();
const markerIndex = ref<number | null>(null);

const openMarker = (index: number | null) => {
  markerIndex.value = index;
};

watch(
  () => props.location,
  (value) => (center.value = value),
  { immediate: true }
);
</script>
